{% extends 'padre.html' %}
{% load crispy_forms_tags %}
{% block bloque_titulo %}Actualizar post{% endblock %}
{% block bloque_nav_items %}
{{ block.super }}
{% endblock bloque_nav_items %}

{% block bloque_header %}
<!-- No header content for About page -->
{% endblock %}

{% block contenidoQueCambia %}
<main class="flex-shrink-0">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h1 class="card-title">Actualizar Post</h1>
                        <form method="post" action="{% url 'ActualizaPost' post.id %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-flex justify-content-between mt-3">
                                <button type="submit" class="btn btn-primary">Actualizar</button>
                                <button type="button" class="btn btn-secondary" onclick="history.back()">Cancelar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
