{% extends 'padre.html' %}
{% block bloque_titulo %}Eliminar post{% endblock %}

{% block bloque_header %}
<!-- No header content for About page -->
{% endblock %}

{% block contenidoQueCambia %}
<main class="flex-shrink-0">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Eliminar Post</h3>
                        <form action="{% url 'EliminaPost' post.id %}" method="post">
                            {% csrf_token %}
                            <p>¿Estás seguro que deseas eliminar el curso "{{ post.title }}"?</p>
                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-danger">Confirmar</button>
                                <a href="{% url 'ver_posts' %}" class="btn btn-secondary">Cancelar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock contenidoQueCambia %}
