{% extends 'padre.html' %}

{% block bloque_titulo %}Resultados de la búsqueda{% endblock %}
{% block bloque_nav_items %}
{{ block.super }}
{% endblock bloque_nav_items %}

{% block bloque_header %}
<!-- No header content for search results page -->
{% endblock %}

{% block contenidoQueCambia %}
<div class="container mt-5">
    <h1 class="titulo-post text-center mb-4">Resultados de la búsqueda</h1>
    <div class="resultados-busqueda">
        <ul class="list-group">
            {% for post in results %}
                <li class="list-group-item">
                    <a href="{% url 'DetallePost' post.id %}" class="resultado-enlace">{{ post.title }} - {{ post.subtitle }}</a>
                </li>
            {% empty %}
                <li class="list-group-item text-center">No se encontraron posts</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
