{% extends 'padre.html' %}
{% block bloque_titulo %}
 Cambiar Contraseña
{% endblock bloque_titulo %}
{% block bloque_nav_items %}{{ block.super }}{% endblock bloque_nav_items %}
{% block bloque_header %} {% endblock %}

{% block contenidoQueCambia %}
<div class="container">
    <h2>Cambiar Contraseña</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'cambiar_password' %}">
        {% csrf_token %}
        {{ formulario_cambio_password.as_p }}
        <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
    </form>
</div>
{% endblock contenidoQueCambia %}
