{% extends 'padre.html' %}
{% load crispy_forms_tags %}

{% block bloque_titulo %}Inicio de Sesión{% endblock %}

{% block bloque_header %}
<!-- Puedes agregar aquí cualquier contenido adicional en el header -->
{% endblock %}

{% block contenidoQueCambia %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Inicio de Sesión</h2>
          <form method="post" action="{% url 'Login' %}" class="login-form">
            {% csrf_token %}
            {{ miFormulario|crispy }}
            <button type="submit" class="btn btn-primary mt-auto">Iniciar Sesión</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
