<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>{% block bloque_titulo %}{% endblock bloque_titulo %}</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/my_styles.css' %}" rel="stylesheet" />
</head>
<body class="d-flex flex-column h-100">
        {% load static %}
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="{% url 'home' %}">Blog de Libros</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto py-4 py-lg-0">
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 {% block bloque_home_active %}{% endblock bloque_home_active %}" href="{% url 'home' %}"><i class="bi bi-house-door"></i> Inicio</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4 {% block bloque_posts_active %}{% endblock bloque_posts_active %}" href="{% url 'ver_posts' %}"><i class="bi bi-journals"></i> Posts</a></li>
    
                            {% block bloque_nav_items %}
                                <li class="nav-item">
                                    {% if request.user.is_authenticated %}
                                        <!-- Usuario Logueado (Navbar-item y Dropdown) -->
                                        <div class="dropdown">
                                            <a class="nav-link px-lg-3 py-3 py-lg-4 dropdown-toggle d-flex align-items-center" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {% if request.user.avatar %}
                                                    <img class="rounded-circle me-2" src="{{ request.user.avatar.imagen.url }}" alt="Avatar" width="30" height="30">
                                                {% endif %}
                                                {{ request.user.username }}
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'ver_perfil' %}"><i class="bi bi-person"></i> Mi perfil</a>
                                                <a class="dropdown-item" href="{% url 'AgregarAvatar' %}"><i class="bi bi-person"></i> Avatar</a>
                                                <a class="dropdown-item" href="{% url 'editar_perfil' %}"><i class="bi bi-pencil"></i> Editar perfil</a>
                                                <a class="dropdown-item" href="{% url 'cambiar_password' %}"><i class="bi bi-key"></i> Cambiar contraseña</a>
                                                {% if request.user.is_staff %}
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="{% url 'listar_usuarios' %}"><i class="bi bi-people"></i> Administrar Usuarios</a>
                                                {% endif %}
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'logout' %}"><i class="bi bi-box-arrow-left"></i> Cerrar sesión</a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <!-- Usuario No Logueado (Navbar-item y Dropdown) -->
                                        <div class="dropdown">
                                            <a class="nav-link px-lg-3 py-3 py-lg-4 dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="bi bi-person-circle"></i> Usuario
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
                                                <a class="dropdown-item" href="{% url 'Login' %}"><i class="bi bi-box-arrow-in-left"></i> Iniciar sesión</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="{% url 'Registrar' %}"><i class="bi bi-person-plus"></i> Registrarme</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endblock bloque_nav_items %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            {% block bloque_header %}{% endblock bloque_header %}
    
            {% if messages %}
            <div class="container mt-4">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            {% block contenidoQueCambia %}{% endblock contenidoQueCambia %}
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Proyecto Final 2024</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
    </html>