.hero {
    background: url(../assets/img/computer-4484282_1280.jpg) no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
    color:rgb(127,38,41);  
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    position: relative;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #4d6160; 
    margin: 0; 
    white-space: nowrap; 
    
    
}

/* Customize the header */
.masthead {
    padding: 10rem 0;
    text-align: center;
    color: white;
}

.masthead h1 {
    font-size: 3rem;
    font-weight: 700;
}

/* Customize the navbar */

#mainNav .navbar-brand {
    font-size: 2rem;
    font-weight: 700;
    color: #4d6160;
    margin-right: 2rem;
}

#mainNav .navbar-nav {
    gap: 1rem; 
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #4a4a4a;
    transition: color 0.2s;
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #89b2a2;
}

#mainNav .navbar-nav .nav-item .btn-primary {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.2rem;
}

/* Customize the footer */
.footer {
    padding: 2rem 0;
}

.footer .list-inline-item a {
    color: #6c757d;
    transition: color 0.2s;
}

.footer .list-inline-item a:hover {
    color: #007bff;
}


main.py-4 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

/* Buttons */
.btn-primary {
    background-color: #89b2a2;
    border-color: #89b2a2;
}

.btn-primary:hover {
    background-color: #89b2a2;
    border-color: #89b2a2;
}


/* General container padding */
.container {
    padding-top: 2rem;
    padding-bottom: 1rem;
}

/* Header styles */
.display-4 {
    font-size: 3rem;
    font-weight: 300;
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
}

/* List group styles */
.list-group-item {
    border: none;
    border-radius: 0.25rem;
    background-color: #f8f9fa;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.list-group-item h5 {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    color: #343a40;
}

.list-group-item small {
    color: #6c757d;
}


/* General form styles */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f8f9fa;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container{
    margin-left: -450px;
}
.titulo-form{
    font-size: 1.5rem;
    font-weight: 700;
    color: #4d6160;
    margin-left: 750px;
}
.titulo-post{
    font-size: 1.5rem;
    font-weight: 700;
    color: #4d6160;
}
.titulo-busqueda_post{
    font-size: 1.5rem;
    font-weight: 700;
    color: #4d6160;
    margin-left: 300px;
}

.titulo-resultado{
    font-size: 1.5rem;
    font-weight: 700;
    color: #4d6160;

}

/* Form input and textarea styles */
form input, form textarea, form select {
    display: block;
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

/* Form label styles */
form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    
}

/* Form button styles */
form button[type="submit"] {
    background-color: #89b2a2;
    border-color: #89b2a2;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-left: -375px;
}

form button[type="submit"]:hover {
    background-color: #89b2a2;
}

.botones-container {
    display: flex;
    justify-content: center; /* Alinea los botones horizontalmente */
    margin: -25px 0 50px 25px;
    background-color: #89b2a2;
    border-color: #89b2a2;
    color: white;
  }
  .btn-container{
    margin-right: 300px !important;
    background-color: #89b2a2;
    border-color: #89b2a2;
    color: white;
  }
  
 


       