{% extends 'padre.html' %} 

{% block contenidoQueCambia %}

<h1 class="titulo-post">Lista de Autores</h1>
<ul>
  {% for autor in autores %}
  <li>
    {{autor}}
  </li>
  
    <form action="{% url 'eliminaAutor' autor.id %}" method="post" >{% csrf_token %}
      <button type="submit" class="btn-eliminar">Eliminar</button>
    </form>
      <button class= "botones-container"><a href="{% url 'editaAutor' autor.id %}">Actualizar</a></button>  
 
  {% endfor %}    
</ul>
<a href="{% url 'crear_autor' %}"><button class="btn-primary" type="submit">Crear Autor</button></a>
{% endblock %}
