{% extends 'padre.html' %}

{% block contenidoQueCambia %}
<div class="container my-5">
    <h2 class="titulo-post">Lista de Posts</h2>
    <ul class="list-group">
        {% for post in lista_post %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'DetallePost' post.id %}">
                {{post}}
              </a>
        </li>
        <button>
            <a href="{% url 'ActualizaPost' post.id %}"> Actualizar </a>
          </button>
          <button>
            <a href="{% url 'EliminaPost' post.id %}"> Eliminar </a>
          </button>
        {% endfor %}
    </ul>
</div>
<a href="{% url 'CreaPost' %}">Crear Post</a>
{% endblock %}

