<!-- Navigation-->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div class="home-button">
      <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
    </div>
    <a class="navbar-brand" href="{% url 'lista_post' %}">Ver lista de Posts</a>
    <a class="navbar-brand" href="{% url 'crear_post' %}">Crear Post</a>
    <a class="navbar-brand" href="{% url 'crear_autor' %}">Crear Autor</a>
    <a class="navbar-brand" href="{% url 'crear_categoria' %}"
      >Crear Categoria</a
    >
    <a class="btn btn-primary" href="#">Ingresar</a>
  </div>
</nav>
